[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"

[dev-packages]
astroid = "2.11.5"
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
pylint = "*"
pylint-django = "2.5.3"
django-environ = "*"
sphinx = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true